.content {
    background-color: #d4d4dc
}

.create-word-section {
    padding-top: 2.5em;
    width: 80%;
    margin: 0 auto;
    background-color: #d4d4dc;
}

.padding-top-required {
    padding-top: 20px;
}

.larger-font {
    font-size: 1.3em;
    font-family: sans-serif;
}

.error {
    color: red;
    font-family: sans-serif;
}

.navbar {
    background-color: #393f4d;
    color: #feda6a;
}
