body {
    background: darkgray;
}

table {
    table-layout: fixed;
}

.content {
    width: 99%;
}

.create-word-section {
    padding-top: 2.5em;
    width: 80%;
    margin: 0 auto;
}

.padding-top-required {
    padding-top: 20px;
}

.added-dictionaryElements {
    width: 80%;
    margin: 0 auto;
    padding-top: 2.5em;
}

.table-wrapper {
    display: block;
    height: 23.5em;
    overflow: auto;
    overflow-x: hidden;
}

.larger-font {
    font-size: 1.3em;
    font-family: sans-serif;
}

.error {
    color: red;
    font-family: sans-serif;
}
